/* right column */
.mainbg .images .mylogo {
  margin-top: -49px;
}
.mainbg .description span {
  margin: 0 10px;
}
.mainbg .rates i {
  color: #ffc626;
  font-size: 25px;
}
main .images .mylogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--first_color);
}
main .images .profile {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: 2px solid var(--first_color);
  height: 140px;
}
main .mainbg .mainp {
  background-color: var(--third_bg_color);
  width: 100%;
  border: 1px solid var(--icons_color);
  min-height: 100px;
  padding: 20px 15px 0 0;
  text-align: right;
  font-weight: 600;
}
main .mainbg button {
  border: none;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
}
main .mainbg button a {
  background-color: var(--third_bg_color);
  color: var(--icons_color);
  width: 100%;
  display: block;
  font-size: 22px;
  padding: 6px;
  border: 1px solid var(--icons_color);
}
main .mainbg button a.btn-danger {
  background-color: #ff0007;
  color: #fff;
}
/* middel coulmn */

article .mylogo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px;
}
article {
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 25px;
}
article .row:first-child,
article p,
article .lastrow {
  padding: 35px;
  color: var(--p_color);
}
article p {
  padding-right: 35px !important;
  padding-left: 35px !important;
  padding-bottom: 0;
}
article .row:first-child a {
  font-size: 30px;
  margin: 17px 12px;
  display: inline-block;
}
article .row:first-child a:last-child {
  color: var(--p_color);
}
article .icon {
  width: 25%;
  text-align: center;
  color: var(--first_color);
  font-size: 25px;
}
article .icon i {
  color: var(--icons_color);
  font-size: 35px;
}
/* left column */
.mainbg .logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.mainbg input {
  border: 2px solid var(--first_color);
  width: 100%;
  padding: 15px 50px 15px 0;
  border-radius: 20px;
  outline: 0;
}
.mainbg input::placeholder {
  color: var(--icons_color);
  font-size: 20px;
}
.mainbg .main .d-flex {
  font-size: 18px;
  margin: 20px 0;
}
.mainbg .main .d-flex i {
  margin-left: 10px;
}
.mainbg .links ul {
  padding: 0;
  list-style: none;
}
.mainbg .links ul li {
  margin: 10px 0;
}
.mainbg form {
  position: relative;
}
.mainbg form button {
  position: absolute;
  right: 24px;
  top: 12px;
}
/* add new */
#addNew {
  position: fixed;
  bottom: 60px;
  left: 25px;
  background-color: var(--icons_color);
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
/* media query */
@media (max-width: 768px) {
  article .row:first-child,
  article p,
  article .lastrow {
    padding: 10px;
  }
  article .mylogo {
    width: 45px;
    height: 45px;
  }
  article .row:first-child a {
    font-size: 20px;
    margin: 14px 12px;
  }
  article .icon i {
    font-size: 21px;
  }
  article p {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
